.marker {
  display: flex;
  background-size: 100% 100%;
  background-repeat: 'no-repeat';
  width: 120px;
  height: 150px;
  border: 3px darkslategrey groove;
}

.active {
  border: 3px lime solid;
}
